*{
    margin: 0;
}
.caja{
    width: 50%;
    margin: 14px auto;
    border: 3px solid green;
    border-radius: 20px;
    padding: 13px;
    padding-bottom: 28px;
}
a{
    text-decoration: none;
    background: green;
    margin: 5px;
    border-radius: 10px;
    padding: 8px;
    font-size: 12px;
    color: white;
}
a:hover{
    background-color: blue;
    color: orange;
}